* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg:
        radial-gradient(circle at top left,
            rgba(255, 255, 255, 0.04),
            transparent 22%),
        linear-gradient(135deg,
            #120d0f 0%,
            #1d1518 22%,
            #322328 52%,
            #6e5649 78%,
            #c7ab93 100%);

    --text: #f8f4f1;
    --muted: rgba(248, 244, 241, 0.74);
    --accent: #f3d5bf;
    --accent-text: #1a1315;
    --font-main: "Manrope", sans-serif;
}

html,
body {
    min-height: 100%;
    font-family: var(--font-main);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body.light-theme {
    --bg: #f4f4f5;
    --text: #111111;
    --muted: #555555;
}

.brand {
    display: flex;
    align-items: center;
    gap: 14px;
}

.logo {
    width: 56px;
    height: 56px;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    background:
        linear-gradient(145deg,
            rgba(58, 54, 54, 0.616),
            rgba(174, 115, 115, 0.522));

    border: 1px solid rgba(129, 108, 108, 0.934);
    backdrop-filter: blur(18px);

    box-shadow:
        inset 0 1px 0 rgba(195, 131, 131, 0.849),
        0 10px 30px rgba(121, 75, 75, 0.418);
}

/* logo symbol */

.logo::before {
    content: "";
    width: 24px;
    height: 24px;
    border-radius: 12px;
    background:
        radial-gradient(circle at 5px 5px,
            rgba(255, 255, 255, 0.95) 0 2px,
            transparent 2.1px),

        radial-gradient(circle at 19px 5px,
            rgba(255, 255, 255, 0.95) 0 2px,
            transparent 2.1px),

        radial-gradient(circle at 5px 19px,
            rgba(255, 255, 255, 0.95) 0 2px,
            transparent 2.1px),

        radial-gradient(circle at 19px 19px,
            rgba(255, 255, 255, 0.95) 0 2px,
            transparent 2.1px);
}

.brand-name {
    color: var(--text);
    font-size: 1rem;
    font-weight: 800;
    letter-spacing: 0.22em;
    text-transform: uppercase;
}